{$contentClass}
  @require '../styles/code.styl'
  display: block
  min-height: 150px
  font-size: 16px
  line-height: 1.8
  color: $content-color

  ::-webkit-scrollbar
    -webkit-appearance: none
    width: 4px
    height: 5px

  p
    word-wrap: break-word
  h1, h2, h3, h4, h5, h6, ol, ul, pre, table, figure
    margin-top: 1.2em
    margin-bottom: .6em
  h1, h2
    padding-bottom .6em
    border-bottom 1px solid #eaecef
  ol, ul
    padding-left: 2em

  // 标题样式
  h1, h2, h3, h4, h5, h6
    padding-top: 2em
    margin-top: -1.8em
    text-transform: none
    // 标题锚点样式
    .header-anchor
      color: $light-primary-color
      opacity: 0
      text-decoration: none
    &:hover
      a.header-anchor
        opacity: 1
        position relative
        font-weight: 500
        color: $primary-color
        &:after
          content ''
          position absolute
          left 0
          top 0
          bottom 0
          height 1px
          width 100%
          background rgba($primary-color, .2)
          transition height 200ms ease-in
        &:hover:after
          height 100%
  // 链接样式
  a
    position: relative
    text-decoration: none
    color: $link-color
    &::after
      content: ''
      width: 100%
      height: 1px /*设置伪元素的高度，这里是下划线的粗细*/
      position: absolute
      top: 100%
      left: 0
      background-color: currentColor /*当前标签继承的文字颜色，这里让伪元素的背景色与父元素的文字颜色相同*/
      transform: scale(0)
      transition: all .35s
    &:hover::after
      transform: scale(1)
      transform-origin: center



  // 表格样式
  table
    width: 100%
    border: 1px solid #dedede
    border-collapse: collapse
    border-spacing: 0
    thead
      tr
        background: #f6f8fa
    tbody
      tr
        &:hover
          background: #efefef
    td, th
      border: 1px solid #dedede
      padding: .375em .75em
      text-align: center !important


// tips 的样式
.custom-block
  margin-bottom 1.2em
  padding 1em 1.5em 0.2em
  border-left-width .5em
  border-left-style solid
  border-radius 4px
  &-title
    font-weight 600
  for type, color in $custom-blocks
    &.{type}
      color darken(color, 20%)
      border-color color!important
      background lighten(color, 90%)!important
      border-radius 4px

    .line-numbers-wrapper
      position absolute
      top 0
      width $lineNumbersWrapperWidth
      text-align center
      color rgba(255, 255, 255, 0.3)
      padding 1.25rem 0
      line-height 1.4
      br
        user-select none
      .line-number
        position relative
        z-index 4
        user-select none
        font-size 0.85em