html
  overflow-y: auto
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background $body-background
  color: #2c3e50;
  font-family $body-font-family

hr,.hr
    border: 0
    border-top: 1px solid #dadada
    box-sizing: content-box
    display: block
    height: 0
    margin-top: 24px
    margin-bottom: 24px

.aside-cls
  position: fixed
  top 0
  bottom 0
  z-index 5
  @media $display.xl-only
    width 320px
  @media $display.lg-only
    width 228px
  @media $display.md-only
    width 180px
  @media $display.sm-only
    width 150px
  @media $display.xs-only
    width 120px

// 滚动条样式
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-track {
    background-color: inherit
}

::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border: 1px solid #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9d9d9d
}

::-webkit-scrollbar-thumb:active {
    background-color: #838383
}

// 清除浮动
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden
}

// 文字超出 显示省略号
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

// css 写的多彩loading
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 2001;
}
#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: transparent;
  z-index: 2000;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 0.2s all ease-in-out;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.loaded #loader-wrapper .loader-section.section-left,
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-out 1s;
  transition: all 0.3s ease-out 1s;
}