
$font-size-root = 16px
$line-height-root = 1.5
$card-border-radius = 4px

$contentClass = '.content__default'


$content-color = #4d4d4d
$primary-color = #3F51B5
$light-primary-color = lighten($primary-color, 50%)
$link-color = #ff4081

$boxShadow = 0 1px 6px 0 rgba(0,0,0,.2)

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$headerHeight = 60px

// colors
$bgColor = white
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef

// code
$codeBgColor = #282c34
$lineNumbersWrapperWidth = 3rem
$font-code = Consolas, Kaushan, Quicksand, Arial, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace


// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px



