<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>blog theme tag</title>
</head>
<body>
	<h1>tag</h1>
	<pre>
		{
  "files": {
    "publicPath": "/",
    "chunks": {
      "app": {
        "size": 167,
        "entry": "/js/app-99e8f.js",
        "hash": "ef36784b4981c3f1e35c",
        "css": []
      }
    },
    "js": [
      "/js/app-99e8f.js"
    ],
    "css": []
  },
  "options": {
    "template": "/Users/roylau/dev/project/blog-dev/node_modules/html-webpack-plugin/lib/loader.js!/Users/roylau/dev/project/blog-dev/theme/tpl/tag.html",
    "filename": "view/tag-[hash:5].html",
    "hash": false,
    "inject": true,
    "compile": true,
    "favicon": false,
    "minify": false,
    "cache": true,
    "showErrors": true,
    "chunks": "all",
    "excludeChunks": [],
    "chunksSortMode": "auto",
    "meta": {},
    "title": "blog theme tag",
    "xhtml": false
  }
}
	</pre>
<script type="text/javascript" src="/js/app-99e8f.js"></script></body>
</html>